{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <section>
        <h2>Introduction</h2>
        <p>Bienvenue sur cette application de formation sur Django.</p>
        <p>Le but de l'application est de proposer une application de blogging avec la gestion des utilisateurs.</p>
    </section>
    <section>
        <h2>Django</h2>
        <p>Ce projet me sert à monter en compétences sur Django, un framework Python.</p>
    </section>
    <!-- Formulaire d'inscription -->
{% endblock %}
